/* General Reset and Box-Sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root */
:root {
  --orange: #f0a500;
  --dark-orange:#e59400; 
  --darker-orange: #c07d00;
  --burnt-orange: #cc7d06;
  --dark-green: #0d4d1e;
  --light-green: #197f34;
  --off-black: #1e1e1e;
  --tan: #f6f0e8;
  --green-text: #0b2b1b;
}

strong {
  color: var(--green-text);
}

/* Fonts */ 
@font-face {
  font-family: "FFat";
  src: url(fonts/FranxurterTotallyFat-X3G4Z.ttf);
}

@font-face {
  font-family: "FMed";
  src: url(fonts/FranxurterTotallyMedium-gxwjp.ttf);
}

/* Hero, Help Button, Case-Study Button, and Statement */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-green);
}

.hero-text {
  flex: 1;
}

.hero-text h1{
  font-family: "FMed";
  color: whitesmoke;
  letter-spacing: 6px;
  padding: 20px;
}

.hero-text a  {
  text-decoration: none;
}

.help {
  text-align: right;
  padding-right: 20px;
  font-family: "Poppins";
}

.help button {
  padding: 10px 20px;
  border-radius: 30px;
  color: whitesmoke;
  background-color: var(--orange);
  border: 3px solid var(--dark-orange);
}

.help button:hover {
  cursor: pointer;
  background-color: var(--dark-orange);
}

.help-content {
  margin: 0px 40px;
  color: whitesmoke;
}

.help-content li {
  font-family: "Poppins";
  color: var(--green-text);
}

.help-content h3 {
  font-family: "Poppins";
  margin-top: 20px;
  color: var(--green-text);
}

.help-content h2 {
  font-family: "Poppins";
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 20px;
  color: var(--green-text);
  text-align: center;
}

.help-content li {
  margin: 20px 40px;
}

/* Body Styles */
body {
  font-family: "Poppins";
  color:var(--green-text);
  background-color: var(--tan);
}

/* Search Form */

.search {
  margin: 2% 15%;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 3px solid var(--dark-orange);
  border-radius: 30px 0px 0px 30px;
  width: 100%;
  outline: none;
  border-right: none;
}

.search-form button {
  background-color: var(--orange);
  color: whitesmoke;
  border: 3px solid var(--dark-orange);
  border-left: none;
  border-radius: 0px 30px 30px 0;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Poppins";
  outline: none;
}

.search-form button:hover {
  background-color: var(--dark-orange);
}

/* Filter Button Container */
.filter-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0px;
  flex-wrap: wrap; 
}

.filter-button form button {
  padding: 10px 20px;
  background-color: var(--orange);
  border: 10px solid var(--dark-orange);
  color: whitesmoke;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.filter-button form button:hover {
  background-color: var(--dark-orange);
  transform: scale(1.1); 
}

.filter-button form button:active {
  transform: scale(1); /* Reset scale when clicked */
}

/* Recipe Cards Display */
.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px 0px;
  padding: 2% 15%;
}

/* Recipe Card Styles */
.recipe-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 0px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Recipe Image */
.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0px 0px;
  padding: 15px;
}

/* Recipe Title and Subtitle */
.recipe-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.recipe-subtitle {
  font-size: 1.1em;
  color: #555;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Recipe Information */
.recipe-card p {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Recipe Description */
.recipe-description {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  line-height: 1.6;
}

/* Ingredients List */
.ingredients-list {
  list-style-type: none;
  margin-top: 10px;
  padding-left: 0;
}

.ingredients-list li {
  font-size: 14px;
  color: #555;
}

/* Steps Section */
.steps-container {
  margin-top: 20px;
  text-align: left;
}

.step {
  margin-bottom: 10px;
}

.step strong {
  font-weight: bold;
}

.step p {
  font-size: 14px;
  color: #333;
  margin-left: 10px;
}

/* Recipe Link */
.recipe-link {
  text-decoration: none;
  color: inherit;
}

/* Case-Study*/

.case-study {
  text-align: left;
  padding-right: 20px;
  font-family: "Poppins";
}

.case-study button {
  padding: 10px 20px;
  border-radius: 30px;
  color: whitesmoke;
  background-color: var(--orange);
  border: 3px solid var(--dark-orange);
}

.case-study button:hover {
  cursor: pointer;
  background-color: var(--dark-orange);
}
.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding-left:15%;
  padding-right: 20%;
  padding-top: 20px;
}

section {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

section img {
  width: 100%;
  margin: 20px 0px;
}

section h1 {
  color: var(--dark-green);
  font-size: 1.8rem;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--dark-green);
  padding-bottom: 5px;
}

section p {
  margin: 10px 0;
  font-size: 1rem;
  color: var(--text-color);
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}

ul li {
  margin: 5px 0;
  color: var(--text-color);
}

p strong {
  color: var(--green-text);
}

.sad-carrot {
  width: 60%;
  align-items: center;
  align-items: center;
}

.no-results-container {
  text-align: center;
  align-items: center;
}

footer {
  text-align: center;
  font-family: "Poppins";
  color: whitesmoke;
  background-color: var(--dark-green);
  padding: 20px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .filter-button {
    justify-content: center; 
  }

  .filter-button form {
    flex-basis: 100%; 
    text-align: center;
  }

  .filter-button form button {
    width: 40%; 
    margin-bottom: 10px; 
  }
}
